.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

.page-hero__image{
    background-image: url(../images/DIU.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.row.page-hero__row{
    margin-top: -60px;
}

.col-md-12{
    height: 100px;
    padding: 7px 32px;
    background-color:  #3a586d;
    color: #fff;
    margin: 0 auto;
    display: block;
}

.in-text{
    height: 85px;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-bg{
    background: #ffffff;
    padding: 40px 0px 40px 0px;
    
}

.coconut-bg{
    background: #F0EDE5;
    padding: 1px 0px 1px 0px;
}

.col-12, .col-12__second, .col-12__third, .col-12__fourth{
    font-size: 20px;
    text-align: justify;
}

p{
    line-height: 1.3;
    letter-spacing: normal;    
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.specific{
    margin-block-start: 2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong{
    font-weight: bolder;
}

.container.container-heading__1,
.container.container-heading__3{
    margin-top: -20px;  
}

.container.container-heading__2{
    margin-top: -60px; 
}

.content{
    padding: 0;
    display: block;
    list-style-type: disc;
    margin-block-start: 2em;
    margin-block-end: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

 .content > li{
    display: list-item;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.heading-title{
    background-color: #3a586d;
    color: #ffffff;
    width: fit-content;
    display: inline;
    box-shadow: 10px 0 0 #3a586d, -10px 0 0 #3a586d;
    line-height: 2.6rem;
    font-size: 35px;
}

@media (min-width: 1400px){
    .page-hero__image{
        height: 600px;
    }
}

@media (min-width: 1700px){
    .page-hero__image{
        height: 700px;
    }
}

@media (min-width: 1850px){
    .page-hero__image{
        height: 800px;
    }
}

@media (min-width: 2100px){
    .page-hero__image{
        height: 900px;
    }
}

@media (max-width: 950px){
    .page-hero__image{
        height: 400px;
    }
}

@media (max-width: 780px){
    .page-hero__image{
       height: 300px;
    }
   }

   @media screen and (min-width: 1500px){
    .col-12, .col-12__second, .col-12__third, .col-12__fourth{
        font-size: 25px;
    }
  }

   @media (max-width: 630px){
    .page-hero__image{
        height: 200px;
     }

     .row.page-hero__row{
        margin-top: -30px;
     }

     .content > li{
        padding-inline-start: 0px;
     }


     .col-12, .col-12__second, .col-12__third, .col-12__fourth {
        font-size: 18px;
    }
   }

   @media (max-width: 430px){
    .heading-title{
        font-size: 28px;
    }
   }
