*{
    margin: 0;
    padding: 0;
}


#map{
    height: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-hero__image{
    background-image: url(../images/beautiful.png);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text{
    text-align: center; 
    font-size: 17px; 
    color: #a7171a;
}

.description{
    text-align: left; 
    font-size:14px;
}

.sub-text{
    color: #a7171a; 
    display: inline-block;
    white-space: nowrap;
}

.map-item i{
    font-size: 23px;
}

.fa-brands{
    display: inline-block;
    width:  1.2em;
}

a{
    color: #ee3224;
}

a:hover{
    color: #a7171a;
}

@media (min-width: 1400px){
    .page-hero__image{
        height: 600px;
    }
}

@media (min-width: 1700px){
    .page-hero__image{
        height: 700px;
    }
}

@media (min-width: 1850px){
    .page-hero__image{
        height: 800px;
    }
}

@media (min-width: 2100px){
    .page-hero__image{
        height: 900px;
    }
}

@media (max-width: 950px){
    .page-hero__image{
        height: 400px;
    }
}

@media (max-width: 780px){
    .page-hero__image{
    height: 300px;
}
}

@media (max-width: 630px){
    .page-hero__image{
        height: 250px;
    }

    #map{
        height: 320px;
    }

}
 
